APP_NAME="MOC Restoran"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

# Database Configuration (MySQL Localhost)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=moc_restoran
DB_USERNAME=root
DB_PASSWORD=

# Redis Configuration (Localhost / Upstash Cloud)
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# For Upstash Cloud Redis in Production Environment Settings:
# REDIS_URL="rediss://default:gQAAAAAAA6OnAAIgcDExOWY5MzBiMTk2ZTU0Y2Y5YjQxZTYzYjU5OWQ3MzRiZg@tight-bear-238503.upstash.io:6379"
# REDIS_HOST="tls://tight-bear-238503.upstash.io"
# REDIS_PORT=6379
# REDIS_PASSWORD="gQAAAAAAA6OnAAIgcDExOWY5MzBiMTk2ZTU0Y2Y5YjQxZTYzYjU5OWQ3MzRiZg"
# CACHE_STORE="redis"

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=redis

VITE_APP_NAME="${APP_NAME}"
